* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
:root {
  --color-Nutmeg: hsl(14, 45%, 36%);
  --color-Dark-Raspberry: hsl(332, 51%, 32%);
  --color-White: hsl(0, 0%, 100%);
  --color-RoseWhite: hsl(330, 100%, 98%);
  --color-Eggshell: hsl(30, 54%, 90%);
  --color-LightGrey: hsl(30, 18%, 87%);
  --color-WengeBrown: hsl(30, 10%, 34%);
  --color-DarkCharcoal: hsl(24, 5%, 18%);
}
h1 {
  color: var(--color-DarkCharcoal);
  font-family: "young-serif";
}
h2 {
  color: var(--color-Nutmeg);
  font-family: "young-serif";
}
h3 {
  color: var(--color-Dark-Raspberry);
  font-family: "outfit";
}
h4 {
  color: var(--color-DarkCharcoal);
  font-family: "outfit";
  font-weight: 400;
}
ul,
ol,
p,
b {
  color: var(--color-DarkCharcoal);
  font-family: "outfit";
}

@media screen and (max-width: 375px) {
  .wrapper {
    background-color: var(--color-White);
    width: 100%;
    max-width: 100%;
    height: fit-content;
    font-size: 16px;
  }
  .img {
    width: 100%;
    height: 30vh;
    background-image: url(./assets/images/image-omelette.jpeg);
    background-position: center;
    background-size: cover;
  }
  .item-name {
    padding: 20px 30px;
  }
  .contents {
    padding: 15px 30px;
    text-align: left;
  }
  .preparation-time {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    background-color: var(--color-RoseWhite);
    margin: 50px 30px;
    padding: 20px 30px;
    border-radius: 10px;
  }
  .preparation-list > ul {
    margin: 10px 30px;
  }
  ul > li {
    margin: 10px auto;
  }
  .ingredients {
    margin: 50px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
  .ingredients-list > ul {
    margin: 20px 30px;
  }
  .ingredients-list > ul > li {
    margin: 15px auto;
  }
  /* instruction */
  .instruction {
    margin: 50px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
  .instruction-list > ol {
    margin: 20px 30px;
  }
  .instruction-list > ol > li {
    margin: 15px auto;
  }
  /* nutrition */
  .nutrition {
    margin: 50px 30px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid var(--color-Eggshell); */
  }
  .direction {
    margin: 20px auto;
  }
  .grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
  }
  .grids > p {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
  .grids > b {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
}

@media screen and (max-width: 1440px) {
  main {
    width: 100%;
    background-color: var(--color-RoseWhite);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    background-color: var(--color-White);
    width: 50%;
    max-width: 50%;
    height: fit-content;
    font-size: 16px;
    border-radius: 20px;
    padding: 40px 20px;
  }
  .img{
    width: 100%;
    height: 40vh;
    background-image: url(./assets/images/image-omelette.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px; 
    margin-top: -1rem;
  }.item-name,
  .contents,
  .ingredients,
  .instruction,
  .nutrition {
    margin: 50px auto;
  }
  .ingredients,
  .instruction {
    border-bottom: 1px solid var(--color-Eggshell);
    padding-bottom: 20px;
  }
  .ingredients-list,
  .instruction-list,
  .preparation-list,
  .grids {
    margin: 20px 30px;
  }
  ul li {
    margin: 15px auto;
  }
  ol li {
    margin: 15px auto;
  }
  .direction {
    margin: 15px auto;
  }
  .preparation-time {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    background-color: var(--color-RoseWhite);
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 10px;
  }
  .grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
  }
  .grids > p {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
  .grids > b {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-Eggshell);
  }
}
